body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Hide scrollbar by default */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Show scrollbar when scrolling */
body:hover ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background: #fff
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #aaa;
  border: 1px solid #aaa;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(133, 133, 144);
}

::-webkit-scrollbar-thumb:active {
  background: linear-gradient(left, #22ADD4, #1E98BA);
}